@page "/Landdle"
@using global::Landdle.Models
@using global::Landdle.Services
@inject IGuessService GuessService

<h3>Landdle</h3>

<select @bind="selectedValue">
    @foreach (var country in countries)
    {
        <option value="@country.Name">@country.Name</option>
    }
</select>


<button class="btn btn-primary" @onclick="SendGuess">Guess!</button>

@code {
    List<Country> countries = new List<Country>();

    protected override async Task OnInitializedAsync()
    {
        countries = await GuessService.GetAllCountries();
    }

    private string? selectedValue;

    public void SendGuess()
    {
        
    }
}
